.odd {
   background-color: rgb(245, 162, 179); 
   font-family: Verdana, "DejaVu Sans", sans-serif;
}

#two {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#three{
    font-size: 24px;
}

#four {
    background-color: rgb(157, 237, 157);
    font-weight: bold;
    font-size: 24px;
}